
[input.rtmp]
type = "rtmp"
address = ":1935"

[input.ftl]
type = "ftl"
address = ":8084"

[output.whep]
type = "whep"
address = ":8091"

[service.dummy]
type = "dummy"

[orchestrator.dummy]
type = "dummy"

[control]
service = "dummy"
orchestrator = "dummy"
http_server_type = "http"
http_address = "localhost:8091"
